.g-search-section-title {
  display: block;
  color: var(--light-text);
  text-transform: uppercase;
  letter-spacing: 0.0231rem;
  font-size: 0.8125rem;
  margin-bottom: var(--spacing-s);
  opacity: 0.6;
}
