.g-search-form {
  padding: 1.875rem var(--spacing-s) var(--spacing-l);

  @include respond-to('medium') {
    padding: 0 var(--spacing-l) 6.25rem;
  }
}

input.g-search-form__input {
  color: var(--foreground);
  font-size: 2rem;
  padding: 0.625rem 0;
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid var(--border);

  @include respond-to('medium') {
    font-size: 3.75rem;
  }
}
