{{!--
  This template renders a Table of Contents in posts and pages.
--}}

<div class="g-toc">
  <h2 class="g-toc__title">{{t "Table of Contents"}}</h2>
  <div class="g-toc__container js-toc"></div>
</div>
