.g-account-subscription {
  color: var(--foreground);
  padding: 2rem var(--spacing-s);
  border: 1px solid var(--border);
  border-radius: var(--border-radius-m);
  margin-bottom: var(--spacing-s);

  @include respond-to('medium') {
    padding: 2rem;
  }

  &.last {
    margin-bottom: 0;
  }
}

.g-account-subscription__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.g-account-subscription__title {
  line-height: 1.1;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0;

  @include respond-to('medium') {
    font-size: 1.5rem;
  }
}

.g-account-subscription__status {
  display: inline-block;
  color: var(--color-on-dark);
  font-size: 0.75rem;
  padding: 0.1875rem 0.6875rem 0.125rem;
  border-radius: var(--border-radius-m);

  @include respond-to('medium') {
    font-size: 0.875rem;
    padding: 0.1875rem 0.625rem 0.125rem;
  }

  &.active {
    background-color: var(--active-status);
  }

  &.trialing {
    background-color: var(--trialing-status);
  }

  &.unpaid,
  &.past_due {
    background-color: var(--issue-status);
  }

  &.canceled {
    background-color: var(--canceled-status);
  }
}

.g-account-subscription__grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--spacing-s) * -1);
  margin-right: calc(var(--spacing-s) * -1);

  @include respond-to('medium') {
    margin-bottom: 2rem;
  }
}

.g-account-subscription__grid__item {
  flex-basis: 50%;
  padding: 0 var(--spacing-s);
  margin-bottom: 2rem;

  &.grow {
    flex-basis: 100%;

    @include respond-to('medium') {
      flex-basis: 50%;
    }
  }
}

.g-account-subscription__label {
  display: block;
  line-height: 1.2;
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
  opacity: 0.8;
}

.g-account-subscription__value {
  line-height: 1.2;
  font-size: 1rem;
}

.g-account-subscription__link {
  line-height: 1.2;
  text-decoration: underline;
  font-size: 0.875rem;
  @include transition(opacity linear 200ms);

  &:hover {
    opacity: 0.6;
  }
}
