.g-404-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5.25rem var(--spacing-m);
  min-height: calc(100vh - var(--vh-offset, 0px));

  @include respond-to('medium') {
    padding: 6.875rem var(--spacing-m);
    min-height: 100vh;
  }
}
