.g-404-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  background-color: var(--dark-background);
}

.g-404-background__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: var(--hero-image-transparency);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
